<h1>Demo#index</h1>

<p>hello from index</p>
<%= link_to('Go back to hello page', {:action => 'hello', :id =>20, :page =>5}) %>
<%= "Making it easy to deploy an appliance is a major 'selling point' of an appliance. That's why i's important to make it easy to configure the basic aspects of an appliance." %>
